:root {
    --blue: #2980b9;
    --lightblue: #3498db;
    --light: white;
    --darkblue: #2c3e50;
    --red: #e74c3c;
  }
  
  body {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    background-color: var(--light);
    color: var(--darkblue);
  }

  header {
    background-image: linear-gradient(to right, var(--lightblue), var(--darkblue));
    

  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }

  h2 {
    padding-left: .5em;
  }

  p {
    padding-left: 1em;
  }
  
  thead {
    background-color: var(--red);
    color: var(--light);
    font-weight: 700;
  }
  
  .custom-jumbotron {
    background-color: var(--darkblue);
    color: var(--light);
  }
      
  .custom-btn {
    background-color: var(--light);
    color: var(--darkblue);
  }
  
  .custom-btn:hover {
    background-color: var(--lightblue);
    color: var(--darkblue);
  }
   
#city-list li {
    display: flex;
    justify-content: center;
    background-color: lightgrey;
    margin-top: .5em;
    margin-bottom: .5em;
    border-radius: .5em;
}

#weather-today {
  border: 1px solid black;
}

.uvi-good {
  background-color: green;
  border-radius: .5em;
  padding: .5em;
}

.uvi-moderate {
  background-color: yellow;
  border-radius: .5em;
  padding: .5em;
}

.uvi-high {
  background-color: orange;
  border-radius: .5em;
  padding: .5em;
}

.uvi-very-high {
  background-color: red;
  border-radius: .5em;
  padding: .5em;
}

.hidden {
  display: none;
}

.card {
  margin-left: 1em;
}

#card-1, #card-2,
#card-3, #card-4,
#card-5 {
  background-image: linear-gradient(to right, var(--lightblue), var(--darkblue));
}
